@import url('https://fonts.googleapis.com/css?family=Oswald|Poppins|Roboto&display=swap');
.tl-headline-date{
    text-shadow: none !important;
}

/* first slide title */
.tl-text h2.tl-headline-title{
    color: #31A100 !important;
    text-shadow: none !important;
    font-size: 42px !important;
    letter-spacing: 5px !important; 
}

.tl-full-image-background .tl-text .tl-headline-date,
.tl-full-color-background .tl-text .tl-headline-date,
.tl-full-image-background .tl-text p .tl-headline-date,
.tl-full-color-background .tl-text p .tl-headline-date,
.tl-full-image-background .tl-text h3.tl-headline-date,
.tl-full-color-background .tl-text h3.tl-headline-date,
.tl-full-image-background .tl-text p h3.tl-headline-date,
.tl-full-color-background .tl-text p h3.tl-headline-date,
.tl-skinny .tl-text h2.tl-headline-title,
.tl-skinny .tl-text h2.tl-headline {
    text-shadow: none !important;
    letter-spacing: 5px !important; 
}
.tl-headline{
    letter-spacing: 2px !important; 
}

.tl-slidenav-title{
    font-size: 12px !important;
    letter-spacing: 1px !important; 
}

p {
    font-family: 'Poppins', sans-serif !important;
    font-weight: normal !important;
    color: #ffffff  !important;
    font-size: 14px  !important;
    line-height: 16px  !important;
}

.tl-text-content p{
    font-family: 'Roboto', sans-serif !important;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
    margin-top: 5px 0;
}

#timeline-embed {
    width: 100%;
    height: 100vh;
}

.tl-slide {
    padding-top: 0 !important;
    background-color: #333333;
}

.tl-slide .tl-slide-content-container .tl-credit {
    padding-bottom: 24px;
    margin-top: 15px;
}

.tl-text h2.tl-headline,
.tl-text h2.tl-headline-title {
    font-family: 'Oswald', sans-serif !important;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 32px;
}



.tl-slide.tl-full-image-background {
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
    /* Safari 6.0 - 9.0 */
}

.tl-timemarker:hover .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline {
    font-weight: bold;
    color: #000;
}

h2.tl-headline {
    color: #f2f2f2;
}

.tl-text .tl-headline-date,
.tl-text h3.tl-headline-date {
    color: #31A100;
    margin-top: 20px;
}

.tl-timegroup .tl-timegroup-message {
    color: #333;
    font-weight: bold;
    z-index: 12;
    text-shadow: none;
}

/*** Maps ***/

#modal {
    width: 100%;
    height: 100%;
}

.map-content-container {
    position: relative;
    width: 800px;
    height: 600px;
    vertical-align: middle;
}

#map {
    /*max-width: 1200px;*/
    height: 100%;
}

.tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-description,
.tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-description {
    color: #31A100;
    font-weight: normal !important;
    text-transform: none;
    text-shadow: none !important;
}

.tl-slidenav-next .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-description,
.tl-slidenav-previous .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-description {
    color: #31A100;
}

/*** Text ***/

.tl-timeline i.fa {
    font-style: normal;
    cursor: pointer;
    color:  #8aeec6;
}

.tl-slide-content-container .tl-slide-content .tl-text-content-container {
    padding-left: 10px;
}

/*** Media ***/

img.tl-media-item.tl-media-image.tl-media-shadow {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*** Timeline Navigation ***/

.tl-timenav {
    background-color: #FFF;
}

.tl-timemarker-text {
    font-weight: normal;
    text-transform: none;
}

.tl-menubar-button {
    background-color: #555;
    color: #bbb;
}

.tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-icon,
.tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-icon,
.tl-slidenav-icon {
    color: #f2f2f2;
}


.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container {
    background-color: #CCC;
    color: #333;
    border-color: rgba(51, 51, 51, .5);
    box-shadow: none;
}

.tl-timemarker .tl-timemarker-content-container {
    background-color: #FFF;
}

.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline {
    color: #000;
    font-weight: bold;
}

.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline {
    color: #24292e;
}


.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container [class*=' tl-icon-'],
.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container [class^='tl-icon-'] {
    color: #000;
}

.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container [class^='tl-icon-'] {
    color: #24292e;
}

.tl-timemarker:hover .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container [class^='tl-icon-'] {
    color: #24292e;
}

/*** Timeaxis ***/

.tl-timeaxis {
    color: #FFF;
}

.tl-timeaxis-background {
    background-color: #333;
}

.tl-timeaxis-tick:before {
    background-color: #f2f2f2;
}

.tl-timenav .tl-attribution {
    display: none;
}

.tl-timeera .tl-timeera-content-container .tl-timeera-content .tl-timeera-text h2.tl-headline {
    font-weight: bold;
}

.tl-timeera.tl-timeera-color0 .tl-timeera-background {
    background-color: #444;
}

.tl-timeera.tl-timeera-color1 .tl-timeera-background {
    background-color: #666;
}

.tl-timeera.tl-timeera-color2 .tl-timeera-background {
    background-color: #444;
}

.tl-timeera.tl-timeera-color3 .tl-timeera-background {
    background-color: #666;
}

.tl-timeera.tl-timeera-color4 .tl-timeera-background {
    background-color: #444;
}

.tl-timeera.tl-timeera-color5 .tl-timeera-background {
    background-color: #666;
}

.tl-timeera.tl-timeera-color6 .tl-timeera-background {
    background-color: #444;
}


.hidden {
    display: none !important;
}


@media print {

    *,
    *:before,
    *:after,
    p:first-letter,
    div:first-letter,
    blockquote:first-letter,
    li:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: ' ('attr(href) ')';
    }

    abbr[title]:after {
        content: ' ('attr(title) ')';
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^='#']:after,
    a[href^='javascript:']:after {
        content: '';
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


.tl-slider-container-mask {
    background-color: #ffffff00;
}

.tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-description {
    text-shadow: none;
    color: #000000;
}

.tl-timenav {
    background-color: rgb(0, 0, 0)
}

.tl-timeaxis-background {
    background-color: rgb(161, 0, 0);
}

.tl-slide-titleslide {
    background-color: #000000;
}

.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content {
    background-color: #00c577;
}

.tl-timemarker-active .tl-timemarker-content {
    background-color: #00643a !important;
}

.tl-timemarker-active .tl-timemarker-content h2 {
    color: #fff !important;
}



/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 50%;
    height: 50%; */
}

.embed-container {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin:20px 0;
}

.tl-timeline a {
    color: #8aeec6;
}

.tl-timeline a:hover,
.tl-timeline a:visited {
    color: #8aeec6;
}
.tl-slidenav-previous .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-icon, .tl-slidenav-next .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-icon, .tl-slidenav-previous .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-title, .tl-slidenav-next .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-title, .tl-slidenav-previous .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-description, .tl-slidenav-next .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-description{
    text-shadow: none !important;
}
.tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-minor .tl-timeaxis-tick{
    font-size: 14px !important;
    letter-spacing: 1px;
}
.tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-major .tl-timeaxis-tick{
    font-size: 16px !important;
    letter-spacing: 1px;
    color:#fff;
}
.tl-slidenav-description{
    letter-spacing: 1px !important;
}

/* .embed-container:first-child {
    display: block;
}
.embed-container:not(:first-child) {
    display: none;
} */

.embed-container{
    display: none;
}
.active{
    display: block;
}
.bottom{
    position: absolute;
    bottom:0;
    text-align: center;
    width: 100%;
}
input[type="radio"] {
    margin:3px;
}

/* .bottom button{
    border-radius: 10px;
} */