* {

    box-sizing: border-box;
}

html,
body,
main {
    font-family: 'Lato';
    height: 100%;
    position: absolute;
    margin: auto;
    height: 100%;
    width: 100%;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    background-color: rgb(35, 0, 131);
}

.container {
    min-width: 320px;
    min-height: 100%;
    width: 80%;
    border: 1px solid #333;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 15px;
}

.heading-primary {
    text-align: center;
    color: #ffffff;
}

p {
    font-size: 0.9em;
    font-style: normal;
    font-weight: 500;
    color: #000;
}

p.description {
    color: #f2f2f2;
}

a.button {
    background-color: #666666;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.hide {
    display: none;
}

.center {
    text-align: center;
}

/* Style the buttons that are used to open and close the accordion panel */

div.ui-accordion {
    margin: 10px auto;
    overflow: hidden;
}

.ui-accordion-header {
    background-color: #ddd;
    color: #222;
    cursor: pointer;
    margin-top: 10px;
    overflow: hidden;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    /*border: 1px solid 767F82;*/
    border-radius: 5px;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.ui-accordion-header.active,
.ui-accordion-header:hover {
    background-color: #9bb8c0;
}

.ui-accordion-header:focus {
    border: 2px solid rgb(20, 51, 150);
}

.ui-accordion-header.active {
    border-radius: 5px 5px 0 0;
}

/* Style the accordion panel. Note: hidden by default */

div.ui-accordion-content {
    padding: 10px 18px;
    background-color: #ffffff;
    display: none;
    border-radius: 0 0 5px 5px;
}

div.ui-accordion-content h4 {
    font-weight: bold;
    text-align: center;
    text-align: -webkit-center;
}

div.ui-accordion-content h5 {
    font-weight: 600;
}

div.ui-accordion-content img {
    border: 5px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

span.description {
    font-size: 0.9em;
}

.given {
    font-size: 1.1em;
    font-weight: bold;
    padding-right: 10px;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}