body {
    font-family: 'Roboto';
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
}

button {
    cursor: pointer;
}

#interactive {
    position: fixed;
    z-index: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

#info {
    position: fixed;
    padding-left: 25px;
    height: 100%;
    top: 0px;
    padding-left: 25px;
    left: 0px;
    padding-left: 25px;
    width: 20%;
    min-width: 300px;
    z-index: 100;
    display: block;
    background: rgb(0, 0, 0, 0);
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

#title {
    position: relative;
    margin: 15px;
}

#hideable-info {
    position: relative;
    margin: 30px 15px;
    height: 0%;
    width: 30%;
    min-width: 300px;
    display: block;
}

#canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    background-image: radial-gradient(rgb(50, 102, 161), rgb(0, 0, 0) 70%);
    
}

#main-list {
    list-style: none;
    padding: 0px;
    margin-top: 25px;
}

h4,
h5 {
    font-weight: normal;
}

h1 {
    z-index: 200;
    left: 20px;
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 0px;
    background: -webkit-linear-gradient(rgb(175, 187, 223), rgb(36, 61, 138));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    line-height: 3rem;
}

h2 {
    margin-top: 0px;
    font-size: 1.5rem;
    line-height: 1.7rem;
    color: rgb(147, 181, 255);
    background: -webkit-linear-gradient(#fff, rgb(150, 150, 150));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #737373;
}

h4 {
    font-size: 16px;
}

h6 {
    line-height: 50px;
    font-weight: bold;
    font-size: 2rem;
    margin: 0px;
    color: #ffffff;;
}

#main-list li button {
    font-family: 'Roboto';
    background-color: #00000000;
    color: #9AA6A6;
    border: none;
    margin: 10px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 100;
    cursor: pointer;
}

#main-list li button:hover,
#main-list li button:focus {
    color: #ffffff;
    outline: none;
    font-weight: bold;
}

#modal {
    display: none;
    position: absolute;
    width: 60%;
    left: 40%;
    vertical-align: middle;
    height: 80%;
    top:10%;
}

#slideshow {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
}

.section {
    margin-right: 120%;
    position: relative;
    display: inline-block;
    width: 90%;
    vertical-align: middle;
    white-space: normal !important;
    height: calc(100% - 50px);
    color: rgb(136, 187, 136);
    font-weight: bold;
    line-height: 20px;
    top: 50px;
}
.imageContainer{
    position: relative;
    font-size: 1rem;
    color:rgb(161, 161, 161);
    left:0;
    right:0;
    margin: auto;
    text-align: center;
    max-width:450px;
    
}

.sectionContent {
    height: 100%;
    width: 100%;
}

.clearfix {
    overflow: auto;
    height: calc(100% - 175px);
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    margin-left: 40px;
    margin-top: 15px;
}

.section img {
    position: relative;
    max-width: 94%;
    max-height: 350px;
}
.section p {
    margin-top:0;
}
.buttonContainer {
    position: relative;
    width: 100%;
}

.nav-button {
    background-color: #00000000;
    border: none;
    color: #00000000;
    position: absolute;
    top: 0;
    display: block;
    height: 0;
    width: 0;
    z-index: -2;
}

.nav-button:focus {
    position: relative;
    z-index: 0;
    z-index: 500;
    height: 45px;
    width: 120px;
    display: block;
    background-color: rgb(50, 55, 70);
    border: 0;
    box-shadow: 0 5px 10px #000000;
    border: 2px solid #496d89;
    box-sizing: border-box;
    color: #fff;
}

button {
    position: relative;
    margin-top: 10px;
    float: left;
    height: 45px;
    width: 120px;
    color: #ffffff;
    background-color: rgb(110, 110, 110);
    border: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

button:hover,
button:focus {
    background-color: rgb(50, 55, 70);
    outline: 0;
    box-shadow: 0 5px 10px #000000;
    border: 2px solid #496d89;
}

.close {
    z-index: 200;
    position: absolute;
    height: 50px;
    background-color: #00000000;
    border: none;
    color: #ffffff;
    right: 0px;
    font-size: 52px;
    line-height: 52px;
    margin: 0;
}

.close:hover,
.close:focus {
    border: none;
    background-color: #00000000;
    color: #5a5a5a;
    outline: none;
}

.nextButton {
    float: right;
}

#modalList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#modalList li {
    font-weight: 100;
    margin-bottom: 20px;
    font-weight: bold;
}

#modalList div {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: rgb(214, 214, 214);
}

.slideshow--footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 700px) {

    /* For mobile phones: */
    #canvas {
        /* display: none; */
        top: 25%;
        height: 25%;
        width: 25%;
    }

    .nav-button {
        display: none;
    }

    #modal {
        width: 90%;
        right: 5%;
    }
}