html,
body {
    font-family: Arial, Helvetica, sans-serif;
}

.modal h2 {
    font-size: 32px;
}

.modal h3 {
    font-size: 26px;
}

.menu {
    width: 750px;
    height: 50px;
    border: 1px solid #222;
    box-sizing: border-box;
}

.menu button {
    float: left;
    width: 20%;
    border: none;
    height: 48px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 20px;
    color: #aaaaaa;
    background-color: #333333;
}

.top {
    position: absolute;
    width: 208px;
    top: 8px;
    left: 550px;
    z-index: 100;
}

.top button {
    float: right;
    height: 25px;
    width: 100px;
    border: none;
    background-color: #BB4421;
    font-weight: 750;
    color: #ffffff;
}

.top button:hover {
    background-color: rgb(70, 19, 4);
}

#help {
    border-radius: 0 0 0 5px;
    border-right: 2px solid #040404;
}


.modal {
    width: 650px;
    height: 500px;
    background-color: black;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100000000;
}

.modal p {
    line-height: 30px;
    font-size: 18px;
    margin: 0;
}

.modal-background {
    width: 750px;
    height: 555px;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 5px;
    left: 8px;
    z-index: 100000000;
}

.modal-content {
    color: #d4d4d4;
    padding: 0 25px;
}

.right {
    float: right;
    margin: 0 50px;
}

#close {
    height: 50px;
    width: 250px;
    color: #ffffff;
    font-size: 20px;
    background-color: #BB4421;
    border: none;
    border-radius: 5px;
}

.active {
    background-color: #BB4421 !important;
}

i {
    font-size: 20px !important;
    margin: 0 10px !important;
    vertical-align: text-top;
}
.vco-storymap h2.vco-headline-title{
    font-size: 36px;
    line-height: 36px;
}
.vco-storymap h2{
    font-size: 20px;
    line-height: 20px;
}
.vco-storymap p{
    font-size: 14px;
    line-height: 14px;
}